
Oscillator.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Oscillator.xcodeproj/project.xcworkspace/xcuserdata/slork.xcuserdatad/UserInterfaceState.xcuserstate

Oscillator.xcodeproj/xcuserdata/slork.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Oscillator.xcodeproj/xcuserdata/slork.xcuserdatad/xcschemes/Oscillator.xcscheme

Oscillator.xcodeproj/xcuserdata/slork.xcuserdatad/xcschemes/xcschememanagement.plist
